body{
    background: url('https://www.solitaire-pyramid.com/solitaire/images/backgrounds/1920x1200/green_felt.jpg');
}
.game-body{
    margin-top: 5%;
}
.center-div
{
    padding-top: 5px;
    margin: 0 auto;
    width: 15%;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.hand{
    height:auto;
    width: auto;
    overflow: auto;
}

.interface{
    height:auto;
    overflow: auto;
    margin: 25px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
}

.card{
    display: inline-block;
    height: 185px;
    width: 132px;
    float: left;

}
.selectedHand{
    border-bottom-style: solid;
    border-color: red;
}